
            .f1{
                height:70%;
                width:100%;
                background-color: aqua;
                
            }
            .logo{
                height: 20%;
                width: 30%;
                padding-left: 35%;
                
            }
            .img{
                height: 100%;
                width: 100%;
               
            }
            .login_button{
                height: 10px;
                width: 7px;
                padding-left: 45%;
            
            }
            